akshare==1.18.64
beautifulsoup4==4.15.0
jsonpath==0.82.2
lxml==6.1.1
matplotlib==3.10.9
numpy==2.2.6
openpyxl==3.1.5
pandas==2.3.3
paramiko==2.9.3
plotly==6.9.0
pyarrow==25.0.0
pytest==9.1.1
python-dateutil==2.9.0.post0
pytz==2026.3.post1
requests==2.34.2
scikit-learn==1.7.2
scipy==1.15.3
tqdm==4.68.4
